html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: color: var(--text-color);
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

img {
    max-width: 100%;
}

p {
    margin: 20px 0;
    font-size:  1.1em;
}

blockquote {
    margin: 30px 0 30px 0;
}

/* Homepage */

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: color: var(--text-color);
    font-size: 9vh;
}

.intro > h2 {
    color:  var(--text-color-light);
}

/* Page content */

h2 {
    font-size: 1.5em;
}

.content {
    padding-top: 20px;
}

/* Profile picture */

.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* Colored links */

a:link, a:visited {
    color: var(--item-color);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Copyright message */

.copyright {
    margin: 15px 0;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--tag-color);
}

.item h4 {
    font-weight:500;
    font-size: 1.45em;
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

.navbar-header {
    background-color: var(--background);
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

/* Image display */

.images {
    display: block;
    margin: auto;
    width: 65%;
}

.images > .buttons {
    display: block;
    margin: auto;
    text-align: center;
    padding: 25px;
}

button {
    border: none; 
}


/* mock linktree */

.small-image {
    width: 40%;
    min-width: 175px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;

}

#linktree-body {
    flex: 1 0 auto;
}

#linktree-body h1 {
    font-size: 4em;
}

#linktree-links {
    margin: 40px 0;
}

#linktree-links a:hover {
    text-decoration: none;
}

.linktree-button {
    border: .2em solid; 
    max-width: 800px;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    background-color: var(--accent);
    color: white;
}

.linktree-button:hover {
    border: .2em solid; 
    background-color: white; 
    color: var(--accent);
}

.linktree-button p {
    font-size: 2em;
    padding: 10px 20px;
    margin: 0;
    text-decoration: none;
}

#linktree-body p {
    font-size: 2em;
}